---
title: Out of my mind...
pageable: true
per_page: 10
---
<% if paginate %>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article>
    <h2><%= link_to article.title, article %></h2>
    <div>
      <span class="author">
        <a rel="author" href="https://plus.google.com/u/1/110971367658599641980?rel=author">
          <img src="http://mediacdn.disqus.com/uploads/users/4818/831/avatar32.jpg?1365980001" width="16" height="16">Frederic Jean
        </a>
      </span>
      <span>&nbsp;|&nbsp;</span>
      <span class="comments"><%= link_to "Comments", article, anchor: "disqus_thread" %></span>
      <span>&nbsp;|&nbsp;</span>
      <span class="date"><%= article.date.strftime('%b %e, %Y') %></span>
    </div>
    <% if i == 0 && page_number == 1 %>
      <%= article.body %>
    <% else %>
      <%= article.summary(250) %> <%= link_to "Read More...", article %>
    <% end %>
  </article>
<% end %>

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
