---
title: Out of my mind...
pageable: true
per_page: 10
---
<% if paginate %>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.sort { |a, b| b.date <=> a.date || a.title <=> b.title }.each_with_index do |article, i| %>
  <article>
    <h1><%= link_to article.title, article %></h1>
    <% if i == 0 && page_number == 1 %>
      <%= article.body %>
    <% else %>
      <%= AutoExcerpt.new(article.body, characters: 250) %> <%= link_to "Read More...", article %>
    <% end %>
    <%= partial :byline, locals: { article: article } %>
  </article>
<% end %>

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
