---
title: Out of my mind...
---

<div class="welcome">
  <h1>Out of my mind...</h1>
  <% blog.articles[0...5].each do |article| %>
    <article>
      <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
      <time><%= article.date.strftime('%b %e, %Y') %></time>
      <p><%= article.data.teaser %></p>
      <p><a href="<%= article.url %>">Read more.</a></p>
    </article>
  <% end %>
</div><!-- .welcome -->
